<div class="card mb-sm-3 mb-md-0 contacts_card">

    <div class="card-header">
        <div class="input-group">
            <input #searchInput [(ngModel)]="searchedName" (input)="usersListResult(searchInput.value)" type="text" placeholder="Search..." name="" class="form-control search">
            <div class="input-group-prepend">
                <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
            </div>
        </div>
    </div>

    <div class="card-body contacts_body">
        <ul class="contacts all-users" #allUsers>
            <li #awayUser class="one-user" *ngFor="let user of searchedUsersList ; index as i " (click)="service.onClickGetUserData(user) ;addActiveClass(awayUser)  ;   this.service.getMessagesFromFirebase( this.service.loginedUserData.uid , user.uid ) ; service.scrollToBottom()">
                <div class="d-flex bd-highlight">
                    <div class="img_cont">
                        <img src="{{user.photoURL}}" class="rounded-circle user_img">
                        <span [ngClass]="{'offline': user.state=='offline'}" class="online_icon"></span>
                    </div>
                    <div class="user_info">
                        <span *ngIf="user.displayName">{{user.displayName}}</span>
                        <span *ngIf="!user.displayName"> Default User </span>
                        <p>{{user.email}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-footer"></div>

</div>

<pre>
{{ service.usersList  |  json }}
</pre>