<div class="login-user-info ">
    <img class="img-fluid" [src]="service.loginedUserData.photoURL">
    <div>        
        <h3> Welcome {{service.loginedUserData.displayName}}  <a class="sign-out" (click)="service.SignOut()"> SignOut </a> </h3>
        <p> Enjoy Chating 😄 </p>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 col-xl-3 chat">
            <users-list></users-list>
        </div>
        <div class="col-md-8 col-xl-6 chat">
            <chating-window></chating-window>
        </div>
    </div>
</div>
