
<div class="card">

    <div class="card-header msg_head">
        <div class="d-flex bd-highlight">
            <div class="img_cont">
                <img src="{{getUser.img}}" class="rounded-circle user_img">
                <!-- <span class="online_icon"></span> -->
            </div>
            <div class="user_info">
                <span>Chat with {{getUser.name}}</span>
                <p>{{messagesLength}} Messages</p>
            </div>
        </div>
    </div>


    <div class="card-body msg_card_body" #messagesBody>
        <div *ngFor="let message of chatMessages">

            <div *ngIf="message.from!==homePersonData.id" class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                    <img src="{{getUser.img}}" class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer">
                    {{message.message}}
                    <span class="msg_time">{{message.time}}</span>
                </div>
            </div>

            <div *ngIf="message.from==homePersonData.id" class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer_send">
                        {{message.message}}
                    <span class="msg_time_send">{{message.time}}</span>
                </div>
                <div class="img_cont_msg">
                    <img [src]="homePersonData.img" class="rounded-circle user_img_msg">
                </div>
            </div>
        </div> 
    </div>
    
    
    <div class="card-footer">
        <div class="input-group">
            <div class="input-group-append">
                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
            </div>
            <textarea [(value)]="txtareaVal" [(ngModel)]="txtareaVal" #msgInput (keydown.enter)="confirmText(msgInput.value);false"  name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
            <div class="input-group-append">
                <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
            </div>
        </div>
    </div>
    
</div>