<div *ngIf="service.awayUserData" class="card">

        <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="{{service.awayUserData.photoURL}}" class="rounded-circle user_img">
                    <span [ngClass]="{'offline': service.awayUserData.state=='offline'}" class="online_icon"></span>
                </div>
                <div class="user_info">
                    <span> {{service.awayUserData.displayName}} </span>
                    <p> {{service.chatMessagesList.length}} Messages</p>
                    <!-- <a class="btn btn-primary mb-3" (click)="service.sendMessageToFirebase( service.loginedUserData.uid , service.awayUserData.uid , 'hello')"> test </a> -->
                </div>
            </div>
        </div>

        <div class="card-body msg_card_body" #msgBody>

                <!-- <div class="d-flex justify-content-center align-items-center">
                    <a class="load-more" (click)="this.service.getMessagesFromFirebasePagenation( this.service.mainLoginedUserData.uid , this.service.awayUserData.uid )"> Load More</a>
                </div> -->

                <div *ngFor="let message of service.chatMessagesList">

                    <div *ngIf="message.from == service.mainLoginedUserData.uid" class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <img src="{{service.loginedUserData.photoURL}}" class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            {{message.message}}
                            <span class="msg_time">{{message.time}}</span>
                        </div>
                    </div>

                    <div *ngIf="message.from !== service.mainLoginedUserData.uid" class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                            {{message.message}}
                            <span class="msg_time_send">{{message.time}}</span>
                        </div>
                        <div class="img_cont_msg">
                            <img src="{{service.awayUserData.photoURL}}" class="rounded-circle user_img_msg">
                        </div>
                    </div>
                </div>
        </div>

        <div class="card-footer">
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                </div>
                <input [(value)]="service.txtareaVal" [(ngModel)]="service.txtareaVal" #msgInput (keydown.enter)="service.sendMessageToFirebase( service.loginedUserData.uid , service.awayUserData.uid  ,  service.txtareaVal  ); scrollToBottom(msgBody)"  name="" class="form-control type_msg" placeholder="Type your message..." />
                <div (click)="service.sendMessageToFirebase( service.loginedUserData.uid , service.awayUserData.uid  ,  service.txtareaVal  )"  class="input-group-append">
                    <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                </div>
            </div>
        </div>

</div>


<div *ngIf="!service.awayUserData" class="card no-data">

    <img class="mb-3" src="../../assets/logo.png" />

    <h3> Welcome To Chat app </h3>

    <h6> select user to start chat </h6>

</div>